<div class="fondo">
    <div class="accessibilidad-container">
        <div class="modal-accesibilidad">
            <div class="tittle-principal">
                <h2 class="titulo-acce">ACCESIBILIDAD</h2>
            </div>
            <div class="content-acce">
                <div class="text-with-icon">
                    <div class="text">
                        <p>
                            En Gestión, nos esforzamos por crear experiencias inclusivas para todos nuestros usuarios. Por eso,
                            queremos contarte que nuestra selección de colores está diseñada para ser <strong>accesible</strong> a personas con la 
                            variación <strong>deuteranomalia</strong> dentro del daltonismo.
                        </p>
                        <p>
                            Estamos trabajando para incluir otras variaciones en futuras actualizaciones. Si necesitas ayuda o tenés 
                            sugerencias para mejorar la accesibilidad, no dudes en <strong>contactarnos</strong>.
                        </p>
                    </div>
                    <div class="icono">
                        <img src="/assets/accessibilidad.png" alt="Inclusión" class="icon">
                    </div>
                </div>
                <div class="content-contact">
                    <button class="btn-contact" (click)="redirectToContact()">Contactanos</button>
                    <button class="btn-circle" (click)="redirectToLogin()">
                        <img src="/assets/arrow_circle_right.png" alt="Ir al login">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




