#background{
    width: 100%;
    min-height: 100vh;
    background-color:  #003366 !important;
    position: absolute;
    top:0;
    left: 0;
}
#backsecond{

    width: calc(1376 * (100vw / 1440));
    height: calc(950 *(100vh / 1024));
    background-color: #14599A !important;
    left:  calc(32 * (100vw / 1440));
    top: calc(37 * (100vh / 1024));
    border-radius: calc(28 * (100vw / 1440) );
    position: relative; /* Mantiene el flujo relativo dentro de #background */
}

#dashboard{
    width: 100%; /* Asegúrate de que ocupe el ancho completo */
    height: 100%; /* Ajusta al tamaño del contenedor padre */
    position: relative;
    
}