#navbar{
    width: calc(326 * (100vw / 1440)) ;
    height: calc(900 * (100vh / 1024)) ;
    background-color: #FFFFFF !important;
    top: calc(25 * (100vh / 1024)) ;
    left: calc(67 * (100vw / 1440));
    border-radius: calc(28 * (100vw / 1440)) !important;
    position: absolute;
    float: left;
}

#line{
    top: calc(102 * (100vh / 1024));
    position: absolute;
    border: #E0E0E0 solid 1px;
    width: 99%;
    left: 0.5%;
}
#user{
    width: calc(291 * (100vw / 1440));
    height:calc(68 * (100vh / 1024)) ;
    position: absolute;
    left: calc(8 * (100vw / 1440));
    top: calc(14 * (100vh / 1024));
}
#photo{
    width: calc(68 * (100vh / 1024));
    height: calc(68 * (100vh / 1024));
    background-color: black !important;
    position: absolute;
    border-radius: 100%;
    left: 0;
    top: 0;
}
#infouser{

    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;

}

#sup{
    width: calc(210 * (100vw / 1440));
    height: calc(30 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(24 * (100vh / 1024)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(76 * (100vw / 1440));
    top: calc(12 * (100vh / 1024));
    font-weight: 500 !important;



}
#rol{
    width: calc(98 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vh / 1024));
    color: #003366 !important;
    position: absolute;
    left: calc(76 * (100vw / 1440));
    top: calc(42 * (100vh / 1024));
    padding-top:calc(2 * (100vh / 1024)) ;
    font-weight: 500 !important;



}
.text{
    font-family: 'Poppins', sans-serif;
}

.menusup{
    width: calc(71 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(24 * (100vw / 1440)) ;
    color: #003366 !important;
    position: absolute;
    left: calc(26 * (100vw / 1440));
    top: calc(137 * (100vh / 1024));
    font-weight: 500 !important;
}


#item1{
    width: calc(49 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(61 * (100vw / 1440));
    top: calc(212 * (100vh / 1024));
    font-weight: 400 !important;
}
#icon1{
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    left: calc(26 * (100vw / 1440));
    top: calc(209 * (100vh / 1024));
    position: absolute;
    color: #00254B !important;

}
#item2{
    width: calc(199 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(61 * (100vw / 1440));
    top: calc(250 * (100vh / 1024));
    font-weight: 400 !important;
}
#icon2{
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    left: calc(26 * (100vw / 1440));
    top: calc(248 * (100vh / 1024));
    position: absolute;
    color: #00254B !important;
}
#item3{
    width: calc(72 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(61 * (100vw / 1440));
    top: calc(287 * (100vh / 1024));
    font-weight: 400 !important;
}
#icon3{
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    left: calc(26 * (100vw / 1440));
    top: calc(285 * (100vh / 1024));
    position: absolute;
    color: #00254B !important;
}
#config{
    width: calc(210 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(24 * (100vw / 1440)) ;
    color: #00254B !important;
    position: absolute;
    left: calc(26 * (100vw / 1440));
    top: calc(441 * (100vh / 1024));
    font-weight: 700 !important;
}
#item4{
    width: calc(59 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(61 * (100vw / 1440));
    top: calc(521 * (100vh / 1024));
    font-weight: 400 !important;
}
#icon4{
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    left: calc(27 * (100vw / 1440));
    top: calc(517 * (100vh / 1024));
    position: absolute;
}
#item5{
    width: calc(202 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(61 * (100vw / 1440));
    top: calc(560 * (100vh / 1024));
    font-weight: 400 !important;
}
#icon5{
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    left: calc(27 * (100vw / 1440));
    top: calc(557 * (100vh / 1024));
    position: absolute;
}
#item6{
    width: calc(141 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #333333 !important;
    position: absolute;
    left: calc(61 * (100vw / 1440));
    top: calc(599 * (100vh / 1024));
    font-weight: 400 !important;
}
#icon6{
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    left: calc(27 * (100vw / 1440));
    top: calc(596 * (100vh / 1024));
    position: absolute;
}
#btnexit{
    width: calc(261 * (100vw / 1440));
    height: calc(48 * (100vh / 1024));
    background-color: #00254B;
    position: absolute;
    top: calc(813 * (100vh / 1024));
    left: calc(26 * (100vw / 1440));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16 * (100vw / 1440)) ;
    color: #FFFFFF !important;
    position: absolute;
    font-weight: 700;
    border-radius: calc(28 * (100vw / 1440)) !important;
}
#icon7{
    left: calc(43 * (100vw / 1440));
    width: calc(24 * (100vw / 1440));
    height: calc(24 * (100vh / 1024));
    margin-right: calc(44 * (100vw / 1440));
   
}