<app-mensajes></app-mensajes>
<div class="container-login">
    <div class="seccion-izquierda">
        <div>
            <img class="logo-inicio" src="/assets/logo2.png" alt="Logo">
            <h1>Password Recovery</h1>
        </div>
        <p class="text-footer">gestiON - 2024</p>
    </div>
    <div class="seccion-derecha">
        <div class="container-recuperar-password">
            <h2>Recuperar Contraseña</h2>
            <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
            <form (ngSubmit)="recuperarEmail()">
                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" placeholder="Ingresa tu Email" [(ngModel)]="email"name="email" required/>
                </div>
                <button class="boton-recovey" type="submit">Enviar Enlace</button>
            </form>
        </div>
    </div>
</div>