#map{
    width: calc(444 * (100vw / 1440)) ;
    height: calc(400 * (100vh / 1024)) ;
    background-color: #FFFFFF;
    left: calc(411 * (100vw / 1440)) ;
    top: calc(524 * (100vh / 1024));
    border-radius: calc(28 * (100vw / 1440)) !important;
    position: absolute;
}
#ttmap{
        width: calc(71 * (100vw / 1440));
        height: calc(20 * (100vh / 1024));
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: calc(24 * (100vw / 1424)) ;
        color: #00254B !important;
        position: absolute;
        left: calc(35 * (100vw / 1440));
        top: calc(23 * (100vh / 1024));
        font-weight: 600 !important;

}
#mapview{
    width: calc(444 * (100vw / 1440));
    height: calc(332 * (100vh / 1024));
    top:calc(68 * (100vh / 1024)) ;
    position: absolute;
    border-bottom-right-radius: calc(28 * (100vw / 1440));
    border-bottom-left-radius: calc(28 * (100vw / 1440));
    display: flexbox;

}

