.modaluser {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

.modal-content {
    background: #fff;
    width:calc(550 * (100vw / 1440));
    height: calc(570 * (100vh / 1024));
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.3s ease-in-out; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00254b;
    width: calc(549 * (100vw / 1440));
    height: calc(70 * (100vh / 1024));
    
}

.modal-header h2 {
    font-size: 16px;
    color: #fff;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
.titulo-rol{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
    color: #00254B;
}
.modal-body{
    padding: 15px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(510 * (100vw / 1440));
    padding: 10px;
    height: calc(60 * (100vh / 1024));
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordes redondeados */
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 18px;

}

button.submit-button {
        width: calc(148 * (100vw / 1440));
        padding: 10px;
        border: none;
        border-radius: 20px;
        background: #00254b;
        color: white;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
}

button.submit-button:hover {
        background: #003580;
}
#rolsupervisor{
   padding-right: 10px;
}
  /* Animación de aparición */
@keyframes fadeIn {
    from {
    opacity: 0;
    transform: scale(0.95);
    }
    to {
    opacity: 1;
    transform: scale(1);
    }
}
